:root {
    --primary: #00a862;
    --secondary: rgba(45, 170, 118, 0.63);
    --thir: #e7eaf5;
}

.btn-signin-outline {
    background-color: var(--thir);
    border: none;
    border-radius: 160px;
    font-size: 18px;
    font-weight: 400;
    color: var(--primary);
    line-height: normal;
}

.nav-link {
    color: var(--secondary);
}

.h1-hero {
    color: var(--primary);
    font-size: 50px;
    font-weight: 700;
}

.p-hero {
    color: var(--primary);
    width: 512px;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
}

.btn-hero {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    background-color: var(--primary);
    border-radius: 160px;
    border: none;
}

.h1-hero-page2 {
    color: var(--primary);
    font-size: 32px;
    font-weight: 700;
}

.card-items-hero-page2 {
    width: 360px;
    height: 274px;
    border-radius: 26px;
    background: #f9faff;
    padding: 30px;
    margin-top: 30px;
}
.card-items-hero-page2 > h1 {
    color: var(--primary);
    font-size: 22px;
    font-weight: 600;
    line-height: 32px; /* 145.455% */
    margin-top: 30px;
}
.card-items-hero-page2 > p {
    color: var(--primary);
    font-size: 18px;
    font-weight: 400;
    line-height: 32px; /* 177.778% */
    width: 251px;
    margin-top: 8px;
}
