body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    overflow-y: hidden;
}

.verification-container {
    width: 100%;
    height: 100%;
    padding-top: 150px;
    padding-bottom: 227px;
    padding-left: 501px;
    padding-right: 502px;
    background: white;
    justify-content: center;
    align-items: center;
    display: inline-flex;
}

.verification-content {
    align-self: stretch;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 43px;
    display: inline-flex;
}

.verification-header {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    display: flex;
}

.verification-title {
    color: #00623b;
    font-size: 32px;
    font-weight: 700;
    word-wrap: break-word;
}

.card {
    /* Add your card styles here */
}

.card-body {
    /* Add your card body styles here */
}

.form-field {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
    display: flex;
}

.field-label {
    color: #00623b;
    font-size: 18px;
    font-weight: 500;
    word-wrap: break-word;
}

.input-field {
    width: 437px;
    height: 50px;
    border-radius: 100px;
    border: 1px #00623b solid;
    padding-left: 25px;
}

.button-background {
    width: 437px;
    height: 50px;
    background: #00a862;
    border-radius: 100px;
    border: none;
}

.button-background:hover {
    background: #008753;
}

.button-text {
    width: 355.06px;
    text-align: center;
    color: white;
    font-size: 18px;
    font-weight: 500;
    word-wrap: break-word;
}
